todo.txt
.vscode
.archive
.backlog
.backburn

.idea
!.idea/icon.svg
*.iml

**/.env
**/.env.*
!**/.env.dist

config.yml
!.github/.bots/config.yml

*.egg-info/
dist/
build/
__pycache__/
*.pyc
*.pyo

*.log
*.bak
*.swp
*.tmp
