[Unit]
Description=APT Weekly Update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/opt/labware/lab/apt-update

[Install]
WantedBy=apt-update.timer
