#!/usr/bin/env bash
####################################################################
# .functions
####################################################################
# File:         .functions
# Author:       Ragdata
# Date:         06/05/2026
# License:      MIT License
# Repository:	https://github.com/Ragdata/.dotfiles
# Copyright:    Copyright © 2026 Redeyed Technologies
####################################################################
# PRE-FLIGHT
####################################################################
# set -x
####################################################################
# VARIABLES
####################################################################
# Color codes for output
export RED='\033[0;31m'
export GREEN='\033[0;32m'
export YELLOW='\033[0;33m'
export BLUE='\033[0;34m'
export NC='\033[0m' # No Color
# Paths
# shellcheck disable=SC2164
# shellcheck disable=SC2155
export BASEDIR="$(cd -P "$(dirname "$(dirname "$(dirname "${BASH_SOURCE[0]}")")")" >/dev/null 2>&1 && pwd)"
####################################################################
# FUNCTIONS
####################################################################
print::message() {
	local color="${2:-$GREEN}"
	echo -e "${color}${1}${NC}"
}

print::error() { print::message "[ERROR]: ${1}" "$RED"; }

print::warn() { print::message "[WARNING]: ${1}" "$YELLOW"; }

print::info() { print::message "[INFO]: ${1}" "$BLUE"; }

print::success() { print::message "[SUCCESS]: ${1}" "$GREEN"; }

print::head() { print::message "${1}" "$YELLOW"; }

print::default() { print::message "${1}"; }

error::exit() {
	print::error "$1"
	exit 1
}

install::files() {
    local src="$1" dst="$2"

    for item in "$src"/*; do
        if [ -d "$item" ]; then
            mkdir -p "$dst/$(basename "$item")"
            install::files "$item" "$dst/$(basename "$item")"
        else
            if install -m 644 "$item" "$dst/$(basename "$item")"; then
                print::success "Installed '$dst/$(basename "$item")'"
            else
                print::warn "Failed to install '$item'"
            fi
        fi
    done
}
