{{ title }}

Version: {{ version }}
Database Entries: {{ db_entries }}
Database Size:  {{ db_size }}
Monitoring User: {{ mon_user }}

{{ group_valid }}
{{ main_config }}
{{ tmpfile_override }}

{{ divider }}

Verify Critical Permissions:

{{ crit_perms }}
{{ crit_perms_db }}

Monitoring User Test: {{ mon_user_test }}

{{ divider }}

Immutable Flag Protections:

{{ immutable_flag_test }}

{{ divider }}

Update Script Test:

{{ update_script_test }}

{{ divider }}

Verify Check Timer:

{{ check_timer_status }}
{{ check_timer_list }}

{{ divider }}

Verify Update Timer:

{{ update_timer_status }}
{{ update_timer_list }}

