EMAIL_ADDRESSES             {{ email_address }};
HOSTNAME                    $(hostname --fqdn);
ENABLE_AUTO_IDS             Y;
DANGER_LEVEL2               15;
DANGER_LEVEL3               150;
DANGER_LEVEL4               1500;
DANGER_LEVEL5               10000;
EMAIL_ALERT_DANGER_LEVEL    5;
EMAIL_LIMIT                 5;
EXPECT_TCP_OPTIONS          Y;
ENABLE_MAC_ADDR_REPORTING   Y;
AUTO_IDS_DANGER_LEVEL       1;
ENABLE_AUTO_IDS_EMAILS      Y;
IGNORE_PORTS                NONE;
IPT_SYSLOG_FILE             /var/log/syslog;
SIG_UPDATE_URL              https://www.cipherdyne.org/psad/signatures;
CHECK_INTERVAL              10;
